
  <div class="header clearfix">

    <div class="jumbotron text-center">
      <h1>Overview of registered users</h1>
      <p class="lead">Here you can see the users and change their role</p>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Change role</th>
        </tr>
      </thead>
      <tbody>
      <% admin_count = User.where(admin: true).count %>
      <% User.all.order("admin desc, email").each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= user.admin ? "Admin" : "Student" %>
          </td>
          <td>
            <% if !user.admin || admin_count > 1 %>
            <a href="/toggle_admin?user=<%= user.id %>"
                id="user-<%= user.id %>"
                class="toggle_role btn btn-success"
                type="button">
              Make <%= user.admin ? "Student" : "Admin" %>
            </a>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
